@model _5204_passion_project_n01446543.Models.ViewModels.ShowDeck

@{
    ViewBag.Title = "Edit";
}


<h4>Deck: @Model.Deck.DeckTitle</h4>
<div style="overflow:hidden;">
    <div style="float:left; margin-right:2%; width:49%;">

        <div>@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.Deck.DeckID })</div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Deck.DeckTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deck.DeckTitle)
            </dd>


        </dl>
    </div>
    <div style="float:left;margin-right:0%; width:49%;">
        <div>
            <h4>Players:</h4>
            <div>
                @foreach (var card in Model.deckCards)
                {
                <div>
                    @Html.Display(card.CardAnswer) | @Html.Display(card.CardQuestion)
                </div>
                }
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
<p>
    @Html.ActionLink("Back to List", "List")
</p>